[submodule "core/node"]
	path = core/node
	url = git://github.com/joyent/node.git
[submodule "core/crypto-browserify"]
	path = core/crypto-browserify
	url = git://github.com/dominictarr/crypto-browserify.git
[submodule "core/vm-browserify"]
	path = core/vm-browserify
	url = git://github.com/substack/vm-browserify.git
[submodule "core/node-querystring"]
	path = core/node-querystring
	url = git://github.com/visionmedia/node-querystring.git
